

name: CI


on:
  
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

    - name: checkout
      uses: actions/checkout@v4
    
    - name: permission for gradle
      run: chmod +x gradlew
        
    - name: run test gradle
      run: ./gradlew clean test

    - name: actions-env
  # You may pin to the exact commit or the version.
  # uses: skiddph/actions-env@8556a4ffbbded4d1a77924d1b98fe1db789574c1
      uses: skiddph/actions-env@v1.0.3
      with:
        file: .env
        prefix: TRELLO_
    # Environment variables
    env: 
        API_KEY: ${{ secrets.TRELLO_API_KEY }}
        TOKEN: ${{ secrets.TRELLO_TOKEN }}
          
          
     
     
        
