

name: CI


on:
  
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: permission for gradle
        run: chmod +x gradlew
        
      - name: run test gradle
        run: ./gradlew clean test

      - name: run tests environment variables
        run: export TRELLO_API_KEY=${{ secrets.TRELLO_API_KEY}}
             export TRELLO_TOKEN=${{ secrets.TRELLO_TOKEN}}
        
