

name: CI


on:

  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    env:
        TRELLO_API_KEY: ${{ secrets.TRELLO_API_KEY }}
        TRELLO_TOKEN: ${{ secrets.TRELLO_TOKEN }}

    runs-on: ubuntu-latest
    steps:

    - name: checkout
      uses: actions/checkout@v4

    - name: permission for gradle
      run: chmod +x gradlew

    - name: run test gradle
      run: ./gradlew test jacocoTestReport --info
      continue-on-error: true

    - name: Add jacoco
      id: jacoco
      uses: madrapps/jacoco-report@v1.7.2
      with:
        paths: |
          ${{ github.workspace }}/**/build/reports/tests/test/index.html
          token: ${{ secrets.GITHUB_TOKEN }}
        
