

name: CI


on:
  
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: env
    - uses: actions/checkout@v4
      env:
        TRELLO_API_KEY: ${{ secrets.TRELLO_API_KEY }}
        TRELLO_TOKEN: ${{ secrets.TRELLO_TOKEN }}
    
    - name: permission for gradle
      run: chmod +x gradlew
        
    - name: run test gradle
      run: ./gradlew clean test
    
     
     
        
