

name: CI


on:
  
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Permission for gradle
        run: chmod +x gradlew
        
      - name: run Test gradle
        run: ./gradlew clean test
